<div class="container">
        <div class="my_navbar">
          <ul>
            <li id="site-title"><a href="/globe/index">Escapergram</a></li>
            <li id="my_nav_info"><a href="/globe/index"> lets go again . </a></li>

          </ul>

        </div>


          <!--main content -->
      <div class="starter-template">
        <div class="body_stuff">

        photo list here

        </div>
      </div>

</div><!-- /.container -->
