<% if user_signed_in? %>
   <div class="container">
        <div class="my_navbar">
          <ul>
            <li id="site-title"><a href="/globe/index">Escapergram</a></li>
            <ul>
              <li id="my_nav_info">where do you wanna escape today ?</li>
              <li id="my_nav_info"></li>
            </ul>
          </ul>
        </div>
         <div id="footer">
            <!-- d3.geo.azimuthal -->
            <div class="hint">drag to rotate the origin</div>
            <div><select>
              <option value="equalarea">equalarea</option>
              <option value="equidistant">equidistant</option>
              <option value="gnomonic">gnomonic</option>
              <option value="orthographic" selected>orthographic</option>
              <option value="stereographic">stereographic</option>
            </select></div>
          </div>

        <div class="starter-template">

        <div id="body">

      </div>
    </div><!-- /.container -->
<% else %>



      <div class="container">
        <div class="my_navbar">
          <ul>
            <li id="site-title"><a href="/globe/index">Escapergram</a></li>

            <ul>

            </ul>
          </ul>
        </div>


        <div class="starter-template">
          <div id="no_account_landing">
            <h4>Please sign in or create an account.</h4>
          </div>
        </div>
      </div><!-- /.container -->


<% end %>





<script type="text/javascript">

var feature;

var projection = d3.geo.azimuthal()
    .scale(380)
    .origin([-71.03,42.37])
    .mode("orthographic")
    .translate([640, 400]);

var circle = d3.geo.greatCircle()
    .origin(projection.origin());

// TODO fix d3.geo.azimuthal to be consistent with scale
var scale = {
  orthographic: 380,
  stereographic: 380,
  gnomonic: 380,
  equidistant: 380 / Math.PI * 2,
  equalarea: 380 / Math.SQRT2
};

var path = d3.geo.path()
    .projection(projection);

var svg = d3.select("#body").append("svg:svg")
    .attr("width", 1280)
    .attr("height", 800)
    .on("mousedown", mousedown);

var defs = svg.append('svg:defs');

// svg.append("defs").append("")


d3.json("/globe_photos", function(collection) {
  pattern = defs.selectAll("pattern")
    .data(collection)
      .enter()
      .append("pattern")
        .attr("id", function(d) { return d[0].replace(/\s/g, ""); })
        .attr("patternUnits", "objectBoundingBox")
        .attr("width", 306)
        .attr("height", 306)
        .append("svg:image")
          .attr("xlink:href", function(d) { return d[1]; })
          // .attr("xlink:href", function(d) { return "http://abcnews.go.com/images/Lifestyle/GTY_yawning_dog_dm_130807.jpg"; })
          .attr("x", 0)
          .attr("y", 0)
          .attr("width", 306)
          .attr("height", 306)
});

d3.json("/world-countries.json", function(collection) {
  feature = svg.selectAll("path")
      .data(collection.features)
      .enter().append("svg:path")
      .attr("d", clip)
      .attr("id", function(d) { return d.properties.name; })
      // .attr("fill", "#dddd00")
      // .attr("fill", function(d) { return "url(#" + d.properties.name.replace(/\s/g, "") + ")"})
      .attr("fill", function(d) { return "url(#Afghanistan)"})



      // feature.append("svg:image")
      //    .attr("xlink:href", "http://www.iwu.edu/wellness/specialevents/images/cookies.jpeg")


      // .attr("clip-path", "url(#clip)")
      // .append("svg:image")
      // .attr("xlink:href", "http://www.iwu.edu/wellness/specialevents/images/cookies.jpeg")


      .on("click", function(d) {
        for(i = 0; i < d.length ; i++){

        }
        window.location = "/country/" + d.properties.name + '?name=' + d.properties.name;
      });

  feature.append("svg:image")
          // .attr("xlink:href", function(d) { return d[1]; })
          .attr("xlink:href", function(d) { return "http://abcnews.go.com/images/Lifestyle/GTY_yawning_dog_dm_130807.jpg"; })
          .attr("x", 0)
          .attr("y", 0)
          .attr("width", 306)
          .attr("height", 306)


  feature.append("svg:title")
      .text(function(d) { return d.properties.name; });

  // defs.append('svg:pattern')
  //     .attr('id', 'tile-ww')
  //     .attr('patternUnits', 'userSpaceOnUse')
  //     .attr('width', '6')
  //     .attr('height', '6')
  //     .append('svg:image')
  //     .attr('xlink:href', 'http://www.iwu.edu/wellness/specialevents/images/cookies.jpeg')
  //     .attr('x', 0)
  //     .attr('y', 0)
  //     .attr('width', 6)
  //     .attr('height', 6);




});






d3.select(window)
    .on("mousemove", mousemove)
    .on("mouseup", mouseup);

d3.select("select").on("change", function() {
  projection.mode(this.value).scale(scale[this.value]);
  refresh(750);
});

var m0,
    o0;

function mousedown() {
  m0 = [d3.event.pageX, d3.event.pageY];
  o0 = projection.origin();
  d3.event.preventDefault();
}

function mousemove() {
  if (m0) {
    var m1 = [d3.event.pageX, d3.event.pageY],
        o1 = [o0[0] + (m0[0] - m1[0]) / 8, o0[1] + (m1[1] - m0[1]) / 8];
    projection.origin(o1);
    circle.origin(o1)
    refresh();
  }
}

function mouseup() {
  if (m0) {
    mousemove();
    m0 = null;
  }
}

function refresh(duration) {
  (duration ? feature.transition().duration(duration) : feature).attr("d", clip);
}

function clip(d) {
  return path(circle.clip(d));
}

    </script>
