/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
.my_navbar {
   zoom: 0.94;
       -moz-transform: scale(0.94);
        -moz-transform-origin: 0 0;
        -o-transform: scale(0.94);
        -o-transform-origin: 0 0;
        -webkit-transform: scale(0.94);
        -webkit-transform-origin: 0 0;
}


#no_account_landing {
  zoom: 0.85;
        -moz-transform: scale(0.85);
        -moz-transform-origin: 0 0;
        -o-transform: scale(0.85);
        -o-transform-origin: 0 0;
        -webkit-transform: scale(0.85);
        -webkit-transform-origin: 0 0;
  padding: 30px 0px 0px 5px;
  text-align: left;
  float: left;
}

#favorites_places th, td {

  padding: 5px 30px 5px 0px;
}

 .body_stuff {
  zoom: 0.88;
       -moz-transform: scale(0.88);
        -moz-transform-origin: 0 0;
        -o-transform: scale(0.88);
        -o-transform-origin: 0 0;
        -webkit-transform: scale(0.88);
        -webkit-transform-origin: 0 0;
  width: 1000px;

 }

.starter-template {
  width: 1000px;
  float: left;
}

#sign_in,
#sign_up {
  zoom: 0.90;
        -moz-transform: scale(0.90);
        -moz-transform-origin: 0 0;
        -o-transform: scale(0.90);
        -o-transform-origin: 0 0;
        -webkit-transform: scale(0.90);
        -webkit-transform-origin: 0 0;
  padding: 10px 0px 0px 10px;
  float:left;
}

#user_info {
  color:#ECC3BF;
}

#sidebar{
  zoom: 0.88;
        -moz-transform: scale(0.88);
        -moz-transform-origin: 0 0;
        -o-transform: scale(0.88);
        -o-transform-origin: 0 0;
        -webkit-transform: scale(0.88);
        -webkit-transform-origin: 0 0;
  padding: 30px 10px 0px 100px;
  text-align: right;

}

#sidebar a:hover{
    text-decoration: none;
    color:#EEB4B4;
}

#initial_images_div{
   zoom: 0.88;
       -moz-transform: scale(0.88);
        -moz-transform-origin: 0 0;
        -o-transform: scale(0.88);
        -o-transform-origin: 0 0;
        -webkit-transform: scale(0.88);
        -webkit-transform-origin: 0 0;
  float: left;
}

#x_hrs_div{
  zoom: 0.88;
       -moz-transform: scale(0.88);
        -moz-transform-origin: 0 0;
        -o-transform: scale(0.88);
        -o-transform-origin: 0 0;
        -webkit-transform: scale(0.88);
        -webkit-transform-origin: 0 0;
  float: left;
}

#footer,
#my_nav_info,
#updater {
  zoom: 0.90;
       -moz-transform: scale(0.90);
        -moz-transform-origin: 0 0;
        -o-transform: scale(0.90);
        -o-transform-origin: 0 0;
        -webkit-transform: scale(0.90);
        -webkit-transform-origin: 0 0;
  padding: 25px 0px 25px 0px;
}

#map-canvas {
  width: 870px;
  height: 800px;
  clear: both;
}

#site-title {
  font-size: 25px;
  padding-left: 10px;
}

#site-title a:hover{
    text-decoration: none;
    color:#ECC3BF;
}

#my_nav_info a:hover{
    text-decoration: none;
    color:#EEB4B4;

}


body {color:#362819;}
h1 {color:#362819;}



a:link {
  color:#330000;
}

a:visited {
  color:#362819;
}

.my_navbar li{
  padding: 10px 0px 25px 0px;
  font-size: 15px;
  display: inline;
  width: 256px;
  float: left;
}

#x_hrs_button {
  zoom: 0.85;
        -moz-transform: scale(0.85);
        -moz-transform-origin: 0 0;
        -o-transform: scale(0.85);
        -o-transform-origin: 0 0;
        -webkit-transform: scale(0.85);
        -webkit-transform-origin: 0 0;
  font-size: 15px;
  padding: 10px;
}

.imgbox {
  display: inline-block;
  position: relative;
}

.imgbox img {
  width: 225px;
}

.imgbox span {
  display:none;
  position: absolute;
  margin-bottom: 4px;
  bottom: 0;
  right: 0;
  background: black;
  color: white;
  font: bold 11px arial,sans-serif;
  padding: 2px 4px;
  opacity: .7;
}

.imgbox:hover span {
  display:inline-block;
}
