/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


#initial_images_div{
  float: left;
}

#x_hrs_div{
  float: left;
}

#my_nav_info,
#updater {
  padding: 20px 0px 25px 0px;
}

#map-canvas {
  width: 1100px;
  height: 1000px;
  clear: both;
}

#site-title {
  font-size: 25px;
}

.my_navbar li{
  padding: 10px 0px 25px 0px;
  font-size: 15px;
  display: inline;
  width: 270px;
  float: left;
}

#x_hrs_button {
  font-size: 15px;
  padding: 10px;
}

.imgbox {
  display: inline-block;
  position: relative;
}

.imgbox img {
  width: 225px;
}

.imgbox span {
  display:none;
  position: absolute;
  margin-bottom: 4px;
  bottom: 0;
  right: 0;
  background: black;
  color: white;
  font: bold 11px arial,sans-serif;
  padding: 2px 4px;
  opacity: .7;
}

.imgbox:hover span {
  display:inline-block;
}
