/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require_tree .
 */

#x_hours_ago {
  font-size: 30px;
  padding: 10px;
}

.imgbox {
  display: inline-block;
  position: relative;
}

.imgbox img {
  width: 200px;
}

.imgbox span {
  display:none;
  position: absolute;
  margin-bottom: 4px;
  bottom: 0;
  right: 0;
  background: black;
  color: white;
  font: bold 11px arial,sans-serif;
  padding: 2px 4px;
  opacity: .7;
}

.imgbox:hover span {
  display:inline-block;
}
