


    <div class="container">
        <div class="my_navbar">
          <ul>
            <li id="site-title">Escaper gram</li>
            <ul>
              <li id="my_nav_info">where do you wanna escape today ?</li>
              <li id="my_nav_info">(scroll to position, click when ready)</li>
            </ul>
          </ul>
        </div>

        <div class="starter-template">

          <div id="map-canvas"/>

        </div>

    </div><!-- /.container -->




    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC2ck8yFy7yYRff1B0DTQAM9Cpu_ao8lSA&sensor=true">
    </script>

                      <!-- google maps API -->
    <script type="text/javascript">
    $(document).ready(function() {

      function initialize() {

        // initialize new google maps LatLng object
        var myLatlng = new google.maps.LatLng(0, 0);

        var mapOptions = {
          center: myLatlng,
          zoom: 2,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map-canvas"),
            mapOptions);
        // Add the marker to the map
        var marker = new google.maps.Marker({
          position: myLatlng,
          title: "Hello World!"
        });

        var markersArray = [];

        // Add the marker to the map by calling setMap()
        // marker.setMap(map);

        var geocoder = new google.maps.Geocoder();
        var address;





      function placeMarker(location, address){
        // first remove all markers if there are any
        deleteOverlays();

        var marker = new google.maps.Marker({
          position: location,
          map: map,
        });
        var infowindow = new google.maps.InfoWindow({
          content: address
          // 'Latitude: ' + location.lat() +
          // '<br>Longitude: ' + location.lng()
        });

        infowindow.open(map,marker);

        // add marker in markers array
        markersArray.push(marker);

        //map.setCenter(location);
      };

      function deleteOverlays() {
        if (markersArray) {
          for (i = 0; i < markersArray.length; i++) {
            markersArray[i].setMap(null);
          }
        markersArray.length = 0;
        }
      };




      google.maps.event.addListener(map, "click", function(event){

          // grab reverse geocode for display
          // var address =
          // codeLatLng(event.latLng);
          var latlng = new google.maps.LatLng(parseFloat(event.latLng.lat()), parseFloat(event.latLng.lng()));

          geocoder.geocode({"latLng": latlng}, function(results, status) {
            if (results.length > 0) {
              address = results[0].formatted_address;
              // place a marker
              placeMarker(event.latLng, address);
              map.panTo(event.latLng);

              var zoomCount = 5;
              function coolZoomer() {
                map.setZoom(map.getZoom() + 1);
                zoomCount--;
                if(zoomCount > 0) {
                  setTimeout(coolZoomer, 400);
                } else {
                  window.location = '/latlng?lat=' + event.latLng.lat() + '&lon=' + event.latLng.lng() + '&address=' + address;
                }
              }

              coolZoomer();
            } else {
              alert("i pity the fool who clicks on blue thinkin it's land");
            }
          });




      });

  };

      google.maps.event.addDomListener(window, 'load', initialize);

         // initialize();
      });
    </script>
